<p>draft-area works!</p>

<div id = "myId1" *ngIf = true>Problem with ng - if - checked in the Oninit
and return NULL</div>
<div id = "myId2" *ngIf = true>Problem with ng - if
,Checked on the afterView and return NOT NULL
</div>

<div class = "section">
  <h4>Trying with axios</h4>
  <p>There is a problem that when I am trying to make promise with timeout of Axios, the projection function don't wait
  for the response. <br/> I am trying here a simple case, so we see if it's happen here </p>


</div>

