<p>learn-rx-js2 works!</p>

<h1>Learn rx-js - #2</h1>
<h3>Here we'll learn more about it. </h3>


<h2>Push vs Pull</h2>

<p><a href ='https://rxjs-dev.firebaseapp.com/guide/observable' target ='_blank'>Source </a> - it's imprtant
to undetstand and remember this concepts about pulling and pushing - producer and consumner - active and passive . <br/>

The idea in general is that a regualr action is pulling something - in activity of the consumner. I take the glass. The app use a function.
<br/>
  Pushing is from the other side, that if the producer is active and the consumer not. <br/>

  U can analog it to mother that feed her child. When he is grown - she is counting on him that will grab the food she have made for him from the fridge,
  but when he is baby, she is caring to feed him, because if not - he won't be eat.

</p>

<p>Subscribing to an Observable is analogous to calling a Function.<br>
  Conclusion:<br>

  func.call() means "give me one value synchronously"<br>
  observable.subscribe() means "give me any amount of values, either synchronously or asynchronously"<br>

</p>

<p>
  Anatomy of an Observable<br>
  Observables are created using new Observable or a creation operator, are subscribed to with an Observer, execute to deliver next / error / complete notifications to the Observer, and their execution may be disposed. These four aspects are all encoded in an Observable instance, but some of these aspects are related to other types, like Observer and Subscription.
  <br>
  Core Observable concerns:<br>

  Creating Observables<br>
  Subscribing to Observables<br>
  Executing the Observable<br>
  Disposing Observables<br>
</p>

<p>

  Subscribing to an Observable is like calling a function, providing callbacks where the data will be delivered to.


</p>

<p>When you subscribe, you get back a Subscription, which represents the ongoing execution. Just call unsubscribe() to cancel the execution.</p>

<p>I think he ment in the end of the tutorial to say that U can define your own unsubscribe. <br>It's for further disposing (cleaning resources) if U want. It would not cancel the unsubscribe. Just add things.
<br>
Maybe the returning itself doing the unsubscribe.

</p>


