<p>data-flowing works!</p>
<p>Link - https://angular.io/guide/component-interaction</p>

<p>Mission:</p>
<ul>
  <li> Do a parent component that contain many items. - DONE </li>
  <li>First when click it's move to parent - DONE </li>
  <li>When click on each item the parent should show the item after 1 second. -If occured some clicks it should show them three  - U here </li>
  <li>Add toggle options that will Enable option to show the items only of the last click. </li>


</ul>

<p>! Outputs, and data from component, can arrived only from dynamic events. Like click, or timer, and like that. (What's not event must be able
to send from parent so U don't need to make it output. But those events should be fired from where U want or need. </p>

<app-items [par1]="10"></app-items>
<p>Steps - create eventEmitter inside the child - with @Output, emit the values define function in the parent that get it. </p>
<p>Notice - the output is inside the component that should out it (the child)</p>
<p>Don't forget the annotation (decorator) @Output</p>
