<p>comp1 works!</p>
<h3> U HERE Continue with trying understand what it's doing - viewChild and what's the use case .</h3>
<h2>X = {{x}} </h2>
<h2 (click)="changeY()">Y = {{y}} </h2>

<p #pel (click)="test(pel)"> This is #pel reference to this element = {{pel}}</p>
<p>All those methods are available : https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement<br/>
U here - continue with the studying . Understand and refresh that by the # U can refer and element. inside the template.</p>
<p>pel = {{pel}}</p>
<p>My var = {{myVar}}</p>


