<div>



<h1>learn-rx-js</h1>
<p>Starting with that https://angular.io/guide/observables</p>
<p>Observable is give U good support to work with events and like that, like user depend values, or https requests.</p>
<p>U here - https://angular.io/guide/observables#basic-usage-and-terms</p>
<p>Promise - see in the log <br/>
  U define it when ended with .resolve ,
  and access it with .then

</p>

<p>Also look on generator function * in JS , that do new things - makes a pattern to something u will insert . </p>

  <button class = "button1">Button 1 - simple JS </button>
  <h2 class = "message1">Here is the response to the click </h2>

  <button class = "button2">Button 2 - with Observable</button>
  <h2 class = "message2">Here is the response to the click </h2>

  <button class = "button3">Button 3 - with JS = only third click</button>
  <h2 class = "message3">Here is the response to the click </h2>

  <button class = "button4">Button 4- with Observable  = only third click</button>
  <h2 class = "message4">Here is the response to the click </h2>
  <p>At the new versions U need to pipe the buffer count with pipe. It's add it to the function</p>

  <h2>Get documnet does working in angular. U had a typo so it didn't worked</h2>
  <button class = "button5">Button 5- with Observable : <span id = "nTimes"></span> clicks in 3 seconds"</button>
  <h2 class = "message5">Here is the response to the click </h2>
  <p>At the new versions U need to pipe the buffer count with pipe. It's add it to the function</p>

  <div class = "test-me" id = "test-me1">Test on me what u want. Id is test-me1</div>

  <div class = "test-me" id = "test-me2">Test on me what u want. Id is test-me2</div>




</div>


