<div>



<h1>learn-rx-js</h1>
<p>Starting with that https://angular.io/guide/observables</p>
<p>Observable is give U good support to work with events and like that, like user depend values, or https requests.</p>
<p>U here - https://angular.io/guide/observables#basic-usage-and-terms</p>
<p>Promise - see in the log <br/>
  U define it when ended with .resolve ,
  and access it with .then

</p>

<p>Also look on generator function * in JS , that do new things - makes a pattern to something u will insert . </p>

  <button class = "button1">Button 1 - simple JS </button>
  <h2 class = "message1">Here is the response to the click </h2>

  <button class = "button2">Button 2 - with Observable</button>
  <h2 class = "message2">Here is the response to the click </h2>

  <button class = "button3">Button 3 - with JS = only third click</button>
  <h2 class = "message3">Here is the response to the click </h2>

  <button class = "button4">Button 4- with Observable  = only third click</button>
  <h2 class = "message4">Here is the response to the click </h2>
  <p>At the new versions U need to pipe the buffer count with pipe. It's add it to the function</p>

  <h2>Get documnet does working in angular. U had a typo so it didn't worked</h2>
  <button class = "button5">Button 5- with Observable : <span id = "nTimes"></span> clicks in 3 seconds"</button>
  <h2 class = "message5">Here is the response to the click </h2>
  <p>At the new versions U need to pipe the buffer count with pipe. It's add it to the function</p>

  <div class = "test-me" id = "test-me1">Test on me what u want. Id is test-me1</div>

  <div class = "test-me" id = "test-me2">Test on me what u want. Id is test-me2</div>


  <h3>I am var a = {{configVar}}</h3>
  <h3>subscribe</h3>
  <p>When U "subscribe" it's mean that U have defined already at the observable some action or data, and U assign
  to that now an action that will happen with that . Search for  explain 5#  at the code of the component. </p>
  <p>Now I'll defined that this action also will happen with this button : </p>

  <button id = "test7"> Click me for do it again ! </button>

  <h3>pipe()</h3>
    <p>pipe is a method on Observable which is used for composing operators.<br/> See more <a
      href = "https://blog.angularindepth.com/reading-the-rxjs-6-sources-map-and-pipe-94d51fec71c2" target = "_blank">
      here
    </a>
    </p>
  <p>
    The pipe on Rxjs is for give U pipe functions, to each other so each function will do something, and pass the value returned to the next function with operator.
    His words :
    <i>“In RxJS, the idea is that you create a pipeline of operators (such as map and filter) that you want to apply to each value emitted by a source observable, of(1,2,3) in this example.
      This approach lets you create small, reusable operators like map and filter, and compose them together when needed using pipe. “</i>
   <br> For example :



  </p>
  <pre>
    {{"fromEvent(testme2, 'click')"
   + ".pipe(scan((count:any ) => count + 1, 0))"
   +" .subscribe(count => console.log(`Clicked ${count} times rexts observable` ));"}}
  </pre>

  <p><b>Debugger</b> is cool key word that stop the execution where you put it.</p>

  <h4>Multiple map operators</h4>
  <p>U can see inside at source2, how many maps operator, comma seperated, inserted inside pipe and pass the value from the previous to next. </p>

  <p>U can learn some operators and debug each U learn for understanding better the operation he does. </p>

  <a href = "https://medium.com/angular-in-depth/reading-the-rxjs-6-sources-map-and-pipe-94d51fec71c2">About pipes...</a>
  <p>About operators : </p>
  <p>As a quick aside, this is a very common pattern for operators in RxJS. In fact, they all seem to follow the following template:
    export a public function, like map or filter or expand.
    export a class which implements Operator, such as MapOperator. This class implements Operator call method. It subscribes to the source observable, like
    return source.subscribe(new MapSubscriber(…));
    This links the observables into a subscriber/observer pipeline.
    A class which extends Subscriber. This class will implement methods such as _next.
    This is where the logic that makes each operator unique lives.
    For example, in map, the projection function will be invoked inside of MapSubscriber’s _next method. In filter the predicate function will be invoked inside of FilterSubscriber’s _next method, and so on.</p>

  <h4>Operator patters:
  <br/>1- export a public function, like map or filter or expand. >>>
  <br/>2- export a class which implements Operator, like Map operator >>
  <br/>3- class which extends Subscriber. This class will implement methods such as _next. like MapSubscriber


  </h4>

  <p>The things in Arrow => functions for bad and good, is
  that it refer always to this of the class or the file, so U don't need to bind it -
  from one side, but in other side, if U try to pass to map thisArg - it won't be access. but overriden
    by the global this .

  </p>
  <h4>END of pipes</h4>
  <p>
    Now that you know how to pipe operators - U can use it together .
  </p>
  <button id = "try1"(click)="doSomething1()" >Click me </button>
  <div id = "addHere">


  </div>
  <h2>What are operators? <a href = "https://rxjs-dev.firebaseapp.com/guide/operators">LINK</a></h2>
  <h2>Two Kinds of operators </h2>
  <p>
    There are two kinds of operator.<br/>
    1-	Pipeable – that you can pipe to exists observable, and they do an operation, and create new Observable. For example Map, or Filter<br/>
    2-	Creation Operators – that not pipe to exist Observable, but create one new – like of. See inside.<br/>

  </p>

  <p>U have marble Diagram the above link that show more . THIS way the show documentation</p>

  <p>Concat operator - see inside </p>
  <p>More operators : switch map (see in the logs and the code . </p>
  <p>THIS is good operator for creating new observable from observable </p>
  <p>Tap is for simple logs </p>
  <p>Pluck (to pick fast things ) is for taking the value of the inner nested object  </p>

  <p><B>Delay </B>with do it many times - for example click many times .... </p>
  <button id = "delay-button">Understand delay </button>

  <p><B>Debounce </B>with do itonce - for example click many times .... </p>

  <button id = "debounce-button">Understand debounce </button>

  <h2>Finally click this button for see three pipes together (search for the id in the code for understand it </h2>
  <button id = "three-pipes">Three - pipes  </button>

  <p>If you want to see on operators decision to use :<br/>
    https://rxjs-dev.firebaseapp.com/operator-decision-tree</p>

  <p>Now continue work on that :
  <br/>
    https://x-team.com/blog/rxjs-observables/
  </p>

  <button id = 'click-3-times'>Click 3 time in second - that it will generate new values here </button>


  <p >Count = {{timesClicked3}}</p>
  <p id = "output22">regular html </p>


  <p id = 'click22'>BufferWhen</p>

  <h2>Summary of the above : </h2>
  <p>In general the Rxjs offer a lot of tools to make complicated action on JS in easier prepared way.
    The challenge is to understand the challenge and know how to find (maybe by the tool of operators) a good solution (that NOT make you mess in other side ).
  </p>
  <p>RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code. </p>
  <p>Reactive Programming is an asynchronous programming paradigm concerned with data streams and the propagation of change.<br/> - Wikipedia. ReactiveX or Rx is the most popular API for reactive programming. It's built on the ideologies of the Observable Pattern, Iterator Pattern, and Functional</p>








</div>

