<h1>Exercises</h1>
<h3>Some exercises for getting strong in some angular technologies </h3>


<h4>Do observables </h4>

<p>Take this API :
  <br/>https://www.balldontlie.io/#get-all-games
  <br/>All the games at the NBA
  <br/>For example that :
  <br/>https://www.balldontlie.io/api/v1/games?seasons[]=1999&page=5&per_page=60
  <br/>And show each game -default season current, 50 Results in a page. User can switch seasons (until 1980),
  <br/>Each game :
  <br/>Bulls – 100 - (the winner) Cetics 80, date : …. Area :,….
  <br/>
  <br/>Make this call with observable with delay of 1,2,3 of the result.
  <br/>Call it from 3 different totalPages.
  <br/>At end – upload it to stackblitz.
  <br/>Return on this exercise 3 times.
  <br/>at end complete the "Data flow - inputs, outputs, observables and subjects functions" with observables and subject intro.


</p>
